<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
 

  <appSettings>
    <add key="FILE_Activated" value="false"/>
    <add key="FILE_DumpFolder" value="D:\BizTalk Test\IN"/>
    <!--"DIRECT=.\private$\ZombieTest"-->
    <add key="MSMQ_Path" value=".\private$\ZombieTest"/>
    <add key="MSMQ_Activated" value="False"/>
    <add key="WCF_Activated" value="true"/>
    <add key="WCF_TYPE" value="NamedPipe"/>
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://win-6sddonfb2k0.expdom.com/Zombie"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ITwoWayAsyncVoid"
        contract="Microsoft.BizTalk.Adapter.Wcf.Runtime.ITwoWayAsyncVoid"
        name="NamedPipe" />
      <endpoint address="localhost:10000/Zombie" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ITwoWayAsyncVoid" contract="Microsoft.BizTalk.Adapter.Wcf.Runtime.ITwoWayAsyncVoid"
        name="TCP" />
      <endpoint address="http://localhost/zombie" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITwoWayAsyncVoid" contract="Microsoft.BizTalk.Adapter.Wcf.Runtime.ITwoWayAsyncVoid"
        name="BasicHttp" />
      <endpoint address="http://localhost/Zombie" binding="wsHttpBinding"
        bindingConfiguration="WsHttpBinding_ITwoWayAsyncVoid" contract="Microsoft.BizTalk.Adapter.Wcf.Runtime.ITwoWayAsyncVoid"
        name="WsHttp" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsyncVoid" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_ITwoWayAsyncVoid" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ITwoWayAsyncVoid" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WsHttpBinding_ITwoWayAsyncVoid" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
   