<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
 

  <appSettings>
    <add key="FILE_Activated" value="True"/>
    <add key="FILE_DumpFolder" value="D:\BizTalk Test\IN"/>
    <!--"DIRECT=.\private$\ZombieTest"-->
    <add key="MSMQ_Path" value=".\private$\ZombieTest"/>
    <add key="MSMQ_Activated" value="False"/>
  </appSettings>
</configuration>
   