<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
 

  <appSettings>
    <add key="FILE_DumpFolder" value="D:\BizTalk Test\Out"/>
    <!--"DIRECT=.\private$\ZombieTest"-->
    <add key="MSMQ_Path" value=".\private$\ZombieTest"/>
    <add key="WCF_TYPE" value="WsHttp"/>
    <add key="DumpLayer" value="Wcf"/>
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/zombie"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ITwoWayAsyncVoid"
        contract="Microsoft.BizTalk.Adapter.Wcf.Runtime.ITwoWayAsyncVoid"
        name="NamedPipe" />
      <endpoint address="net.tcp://localhost:10000/Zombie" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ITwoWayAsyncVoid" contract="Microsoft.BizTalk.Adapter.Wcf.Runtime.ITwoWayAsyncVoid"
        name="TCP" />
      <endpoint address="http://localhost:1200/Zombie" binding="wsHttpBinding"
        bindingConfiguration="WsHttpBinding_ITwoWayAsyncVoid" contract="Microsoft.BizTalk.Adapter.Wcf.Runtime.ITwoWayAsyncVoid"
        name="WsHttp" />
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_ITwoWayAsyncVoid" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ITwoWayAsyncVoid" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WsHttpBinding_ITwoWayAsyncVoid" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
   